@import "tailwindcss";

@theme {
  --color-brun-noir: #2C2420;
  --color-creme: #FCF9F5;
  --color-cafe: #6F4E37;
}

:root {
  background-color: #2C2420;
  color: #FCF9F5;
}

body {
  @apply bg-brun-noir text-creme antialiased min-h-screen;
}

/* Effet PARALLAX */
.parallax-bg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ANIMATION MARQUEE */
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@layer utilities {
  .animate-marquee {
    display: flex;
    width: max-content;
    animation: marquee 40s linear infinite;
  }

  .animate-marquee:hover {
    animation-play-state: paused;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/*Pour éviter que la page ne saute brusquement en quitant "contacter moi" */
html {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}